<!-- Button trigger modal -->
<button id="Waypoint" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Waypoint Info
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Waypoints Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container-fluid">
          
           
          <div class="row">

              <div class="card col-md-4 " style="width:100%">
                <img class="card-img" src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTOcrmLuc05RkYfvmU-Qdp8dpAaIZD5V9FqQWIYgj7DhrFJRA5SmA" style="height:auto" alt="Card image cap">
              </div>

              <div class="card-block col-md-8">
                    
                    <span class="city">Pismo Beach</span>
                      <div class="sun"> 
                        <span>
                          <ul class="variations"> 
                            <li>CLEAR</li>
                            <!--<li><span class="speed"> 9 <span class="mph">mph</span>
                              
                              </span></li>-->
                          </ul>
                        </span>
                        <span class="temp" >76&#176;</span>
                      </div>

                      <div class="forecast clear">
                        <div class="day tue">TUE 
                          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day wed">WED
                          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day thu">THU 
                          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day fri">FRI
                          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                      </div>    

              </div>
          </div>
              <!--2nd-->
              <div class="row">

              <div class="card col-md-4 " style="width:100%">
                <img class="card-img-left" src="'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTOcrmLuc05RkYfvmU-Qdp8dpAaIZD5V9FqQWIYgj7DhrFJRA5SmA'" alt="Card image cap">
              </div>

              <div class="card-block col-md-8">
                    
                    <span class="city">Pismo Beach</span>
                      <div class="sun"> 
                        <span>
                          <ul class="variations"> 
                            <li>CLEAR</li>
                            <!--<li><span class="speed"> 9 <span class="mph">mph</span>
                              
                              </span></li>-->
                          </ul>
                        </span>
                        <span class="temp" >76&#176;</span>
                      </div>

                      <div class="forecast clear">
                        <div class="day tue">TUE 
                          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day wed">WED
                          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day thu">THU 
                          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day fri">FRI
                          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                      </div>    

              </div>
          </div>

            <!--3rd-->
             <div class="row">

              <div class="card col-md-4 " style="width:100%">
                <img class="card-img-left" src="'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTOcrmLuc05RkYfvmU-Qdp8dpAaIZD5V9FqQWIYgj7DhrFJRA5SmA'" alt="Card image cap">
              </div>

              <div class="card-block col-md-8">
                    
                    <span class="city">Pismo Beach</span>
                      <div class="sun"> 
                        <span>
                          <ul class="variations"> 
                            <li>CLEAR</li>
                            <!--<li><span class="speed"> 9 <span class="mph">mph</span>
                              
                              </span></li>-->
                          </ul>
                        </span>
                        <span class="temp" >76&#176;</span>
                      </div>

                      <div class="forecast clear">
                        <div class="day tue">TUE 
                          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day wed">WED
                          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day thu">THU 
                          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day fri">FRI
                          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                      </div>    

              </div>
          </div>

          <!--4th-->
           <div class="row">

              <div class="card col-md-4 " style="width:100%">
                <img class="card-img-left" src="'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTOcrmLuc05RkYfvmU-Qdp8dpAaIZD5V9FqQWIYgj7DhrFJRA5SmA'" alt="Card image cap">
              </div>

              <div class="card-block col-md-8">
                    
                    <span class="city">Pismo Beach</span>
                      <div class="sun"> 
                        <span>
                          <ul class="variations"> 
                            <li>CLEAR</li>
                            <!--<li><span class="speed"> 9 <span class="mph">mph</span>
                              
                              </span></li>-->
                          </ul>
                        </span>
                        <span class="temp" >76&#176;</span>
                      </div>

                      <div class="forecast clear">
                        <div class="day tue">TUE 
                          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day wed">WED
                          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day thu">THU 
                          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day fri">FRI
                          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                      </div>    

              </div>
          </div>

          <!--5th-->
           <div class="row">

              <div class="card col-md-4 " style="width:100%">
                <img class="card-img-left" src="'https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTOcrmLuc05RkYfvmU-Qdp8dpAaIZD5V9FqQWIYgj7DhrFJRA5SmA'" alt="Card image cap">
              </div>

              <div class="card-block col-md-8">
                    
                    <span class="city">Pismo Beach</span>
                      <div class="sun"> 
                        <span>
                          <ul class="variations"> 
                            <li>CLEAR</li>
                            <!--<li><span class="speed"> 9 <span class="mph">mph</span>
                              
                              </span></li>-->
                          </ul>
                        </span>
                        <span class="temp" >76&#176;</span>
                      </div>

                      <div class="forecast clear">
                        <div class="day tue">TUE 
                          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day wed">WED
                          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day thu">THU 
                          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                        <div class="day fri">FRI
                          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
                        </div>
                      </div>    

              </div>
          </div>


        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <!--<button type="button" class="btn btn-primary">Save changes</button>-->
      </div>
    </div>
  </div>
</div>