
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="weather">
                <div class="current" id="losangles">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city">Warehouse1</div>
                        <div class="temp">68&deg; <small>F</small></div>
                        <!--<div class="wind"><small><small>WIND:</small></small> 22 km/h</div>-->
                        <div>&nbsp;</div>
                    </div>
                    <div class="icon">
                        <span class="wi wi-day-sunny"></span>
                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>Mon</h3>
                        <p><span class="wi wi-day-cloudy-high"></span>
                            <br> <span class="highTemp">68</span>
                            <br> <span class="lowTemp">47&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Tue</h3>
                        <p><span class="wi wi-day-sunny"></span>
                            <br> <span class="highTemp">79&#176;</span>
                            <br> <span class="lowTemp">57&#176;</span>
                        </p>
                    </div>
                    <div class="day last">
                        <h3>Wed</h3>
                        <p><span class="wi wi-day-sunny"></span>
                            <br> <span class="highTemp">79&#176;</span>
                            <br> <span class="lowTemp">57&#176;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--2nd-->
        <div class="col-md-3">
            <div class="weather">
                <div class="current" id="colrado">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city">Warehouse2</div>
                        <div class="temp">60&deg; <small>F</small></div>
                        <!--<div class="wind"><small><small>WIND:</small></small> 22 km/h</div>-->
                        <div>&nbsp;</div>
                    </div>
                    <div class="icon">
                        <span class="wi wi-day-sunny-overcast"></span>
                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>Mon</h3>
                        <p><span class="wi wi-day-sunny-overcast"></span>
                            <br> <span class="highTemp">60&#176;</span>
                            <br> <span class="lowTemp">50&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Tue</h3>
                        <p><span class="wi wi-day-cloudy"></span>
                            <br> <span class="highTemp">45&#176;</span>
                            <br> <span class="lowTemp">40&#176;</span>
                        </p>
                    </div>
                    <div class="day last">
                        <h3>Wed</h3>
                        <p><span class="wi wi-day-cloudy"></span>
                            <br> <span class="highTemp">45&#176;</span>
                            <br> <span class="lowTemp">40&#176;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    <!--3rd-->

    <div class="col-md-3">
            <div class="weather">
                <div class="current" id="colrado">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city">Warehouse3</div>
                        <div class="temp">85&deg; <small>F</small></div>
                        <!--<div class="wind"><small><small>WIND:</small></small> 22 km/h</div>-->
                        <div>&nbsp;</div>
                    </div>
                    <div class="icon">
                        <span class="wi wi-hot"></span>

                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>Mon</h3>
                        <p><span class="wi wi-hot"></span>
                            <br> <span class="highTemp">85&#176;</span>
                            <br> <span class="lowTemp">70&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Tue</h3>
                        <p><span class="wi wi-day-sunny"></span>
                            <br> <span class="highTemp">73&#176;</span>
                            <br> <span class="lowTemp">60&#176;</span>
                        </p>
                    </div>
                    <div class="day last">
                        <h3>Wed</h3>
                        <p><span class="wi wi-day-thunderstorm"></span>
                            <br> <span class="highTemp">74&#176;</span>
                            <br> <span class="lowTemp">70&#176;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--4th-->


        <div class="col-md-3">
            <div class="weather">
                <div class="current" id="colrado">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city">Warehouse4</div>
                        <div class="temp">30&deg; <small>F</small></div>
                        <!--<div class="wind"><small><small>WIND:</small></small> 22 km/h</div>-->
                        <div>&nbsp;</div>
                    </div>
                    <div class="icon">
                        <span class="wi wi-rain-mix"></span>
                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>Mon</h3>
                        <p><span class="wi wi-day-cloudy-high"></span>
                            <br> <span class="highTemp">60&#176;</span>
                            <br> <span class="lowTemp">45&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Tue</h3>
                        <p><span class="wi wi-day-sunny"></span>
                            <br> <span class="highTemp">79&#176;</span>
                            <br> <span class="lowTemp">57&#176;</span>
                        </p>
                    </div>
                    <div class="day last">
                        <h3>Wed</h3>
                        <p><span class="wi wi-day-sunny"></span>
                            <br> <span class="highTemp">79&#176;</span>
                            <br> <span class="lowTemp">57&#176;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>








</div> <!--End of row-->
</div> <!-- End of container -->
