button{
        border-radius: 50px;
}

.startbutton{
        margin-top:20px;
        text-align: center;
        size: 100px;

}

.footer {
        margin-top: 200px;
}

/*****************************************/
.card .current{
    margin : 3px 3px 3px 3px;
    /*background-color: #80CBC4;*/
    height: 181px;
}
.card {
  background-color: #80CBC4;
  margin-bottom: 5px;
}

        .future
        {
            display: flex;
            flex-flow: row nowrap;
        }

            .future .day
            {
                flex-grow: 1;
                text-align: center;
                cursor: pointer;
                border-right:.1em solid #d9d9d9;
                /*line-height: 1.2;*/
            }


                 .future .day:hover
                {
                    color: #fff;
                    background-color: #F68D2E;
                }

                .future .day h3
                {
                    /*text-transform: uppercase;*/
                    font-size : 20px;
                }

                .future .day p
                {
                    font-size: 20px;
                }

                .highTemp {
                font-weight:bold;
                }
                .lowTemp {
                color: #8c8c8c;
                }

                .city , .wind {
                    font-size: 24px;
                    padding-left: 10px;
                }


                .temp{
                    font-size: 32px;
                    /*padding-left: 10px;*/
                    margin-left: -54px;
                }

                .icon{
                    padding-left: 10px;
                    font-size: 50px;
                    margin-left: 101px;
                    margin-top: -63px;
                }



#Waypoint{
  margin-left: 7px;
    margin-top: 15px;
}
#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  /*border: 1px solid #999;*/
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
  margin-top: 75px;
}
