<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 cards">
        <div class="card first">
      <span class="city">Pismo Beach</span>
        <ul class="menu">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <br>
      <div class="sun"></div>
      <span class="temp">76&#176;</span>
      <span>
        <ul class="variations">
          <li>CLEAR</li>
          <li><span class="speed">9<span class="mph">mph</span></span></li>
        </ul>
      </span>
      <div class="forecast clear">
        <div class="day tue">TUE 
          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day wed">WED
          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day thu">THU 
          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day fri">FRI
          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
      </div>
</div>

    </div>
    <div class="col-sm-3 cards">
        <div class="card first">
      <span class="city">Pismo Beach</span>
        <ul class="menu">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <br>
      <div class="sun"></div>
      <span class="temp">76&#176;</span>
      <span>
        <ul class="variations">
          <li>CLEAR</li>
          <li><span class="speed">9<span class="mph">mph</span></span></li>
        </ul>
      </span>
      <div class="forecast clear">
        <div class="day tue">TUE 
          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day wed">WED
          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day thu">THU 
          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day fri">FRI
          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
      </div>
</div>
    </div>
    <div class="col-sm-3 cards">
        <div class="card first">
      <span class="city">Pismo Beach</span>
        <ul class="menu">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <br>
      <div class="sun"></div>
      <span class="temp">76&#176;</span>
      <span>
        <ul class="variations">
          <li>CLEAR</li>
          <li><span class="speed">9<span class="mph">mph</span></span></li>
        </ul>
      </span>
      <div class="forecast clear">
        <div class="day tue">TUE 
          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day wed">WED
          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day thu">THU 
          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day fri">FRI
          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
      </div>
</div>
    </div>
    <div class="col-sm-3 cards">
        <div class="card first">
      <span class="city">Pismo Beach</span>
        <ul class="menu">
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <br>
      <div class="sun"></div>
      <span class="temp">76&#176;</span>
      <span>
        <ul class="variations">
          <li>CLEAR</li>
          <li><span class="speed">9<span class="mph">mph</span></span></li>
        </ul>
      </span>
      <div class="forecast clear">
        <div class="day tue">TUE 
          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day wed">WED
          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day thu">THU 
          <br> <span class="sunny"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
        <div class="day fri">FRI
          <br> <span class="cloudy"></span> <br> <span class="highTemp">79&#176;</span> <br> <span class="lowTemp">57&#176;</span>
        </div>
      </div>
</div>  
    </div>
  </div>
</div>