
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="weather">
                <div class="current" id="losangles">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city ">{{weatherData.warehouse[0].title}}</div>
                        <div class="temp">{{weatherData.warehouse[0].day1.day_temp}}&deg; <small>C</small></div>
                        <!--<div class="wind"><small><small>WIND:</small></small> 22 km/h</div>-->
                        <div>&nbsp;</div>
                    </div>
                    <div >
                        <div class="icon">
                          <img src={{weatherData.warehouse[0].day1.weather.icon}} />
                        </div>
                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>Day1</h3>
                        <p><img src={{weatherData.warehouse[0].day1.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[0].day1.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[0].day1.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day2</h3>
                        <p><img src={{weatherData.warehouse[0].day2.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[0].day2.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[0].day2.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day3</h3>
                        <p><img src={{weatherData.warehouse[0].day3.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[0].day3.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[0].day3.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day4</h3>
                        <p><img src={{weatherData.warehouse[0].day4.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[0].day4.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[0].day4.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day last">
                        <h3>Day5</h3>
                        <p><img src={{weatherData.warehouse[0].day5.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[0].day5.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[0].day5.min_temp}}&#176;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!--2nd-->
        <div class="col-md-3">
            <div class="weather">
                <div class="current" id="losangles">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city ">{{weatherData.warehouse[1].title}}</div>
                        <div class="temp">{{weatherData.warehouse[1].day1.day_temp}}&deg; <small>C</small></div>
                        <!--<div class="wind"><small><small>WIND:</small></small> 22 km/h</div>-->
                        <div>&nbsp;</div>
                    </div>
                    <div >
                        <div class="icon">
                          <img src={{weatherData.warehouse[1].day1.weather.icon}} />
                        </div>
                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>Day1</h3>
                        <p><img src={{weatherData.warehouse[1].day1.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[1].day1.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[1].day1.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day2</h3>
                        <p><img src={{weatherData.warehouse[1].day2.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[1].day2.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[1].day2.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day3</h3>
                        <p><img src={{weatherData.warehouse[1].day3.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[1].day3.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[1].day3.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day4</h3>
                        <p><img src={{weatherData.warehouse[1].day4.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[1].day4.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[1].day4.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day last">
                        <h3>Day5</h3>
                        <p><img src={{weatherData.warehouse[1].day5.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[1].day5.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[1].day5.min_temp}}&#176;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    <!--3rd-->

    <div class="col-md-3">
            <div class="weather">
                <div class="current" id="losangles">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city ">{{weatherData.warehouse[2].title}}</div>
                        <div class="temp">{{weatherData.warehouse[2].day1.day_temp}}&deg; <small>C</small></div>
                        <!--<div class="wind"><small><small>WIND:</small></small> 22 km/h</div>-->
                        <div>&nbsp;</div>
                    </div>
                    <div >
                        <div class="icon">
                          <img src={{weatherData.warehouse[2].day1.weather.icon}} />
                        </div>
                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>Day1</h3>
                        <p><img src={{weatherData.warehouse[2].day1.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[2].day1.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[2].day1.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day2</h3>
                        <p><img src={{weatherData.warehouse[2].day2.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[2].day2.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[2].day2.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day3</h3>
                        <p><img src={{weatherData.warehouse[2].day3.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[2].day3.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[2].day3.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day4</h3>
                        <p><img src={{weatherData.warehouse[2].day4.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[2].day4.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[2].day4.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day last">
                        <h3>Day5</h3>
                        <p><img src={{weatherData.warehouse[2].day5.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[2].day5.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[2].day5.min_temp}}&#176;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <!--4th-->


        <div class="col-md-3">
            <div class="weather">
                <div class="current" id="losangles">
                    <div class="info">
                        <div>&nbsp;</div>
                        <div class="city ">{{weatherData.warehouse[3].title}}</div>
                        <div class="temp">{{weatherData.warehouse[3].day1.day_temp}}&deg; <small>C</small></div>
                        <!--<div class="wind"><small><small>WIND:</small></small> 22 km/h</div>-->
                        <div>&nbsp;</div>
                    </div>
                    <div >
                        <div class="icon">
                          <img src={{weatherData.warehouse[3].day1.weather.icon}} />
                        </div>
                    </div>
                </div>
                <div class="future">
                    <div class="day">
                        <h3>Day1</h3>
                        <p><img src={{weatherData.warehouse[3].day1.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[3].day1.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[3].day1.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day2</h3>
                        <p><img src={{weatherData.warehouse[3].day2.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[3].day2.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[3].day2.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day3</h3>
                        <p><img src={{weatherData.warehouse[3].day3.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[3].day3.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[3].day3.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day">
                        <h3>Day4</h3>
                        <p><img src={{weatherData.warehouse[3].day4.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[3].day4.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[3].day4.min_temp}}&#176;</span>
                        </p>
                    </div>
                    <div class="day last">
                        <h3>Day5</h3>
                        <p><img src={{weatherData.warehouse[3].day5.weather.icon}} />
                            <br> <span class="highTemp">{{weatherData.warehouse[3].day5.max_temp}}&#176;</span>
                            <br> <span class="lowTemp">{{weatherData.warehouse[3].day5.min_temp}}&#176;</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>



</div> <!--End of row-->
</div> <!-- End of container -->
